langchain
langchain-openai
langchain-community
langgraph
neo4j
langchain-neo4j
chromadb
fastapi
uvicorn
streamlit
pydantic
pydantic-settings
python-dotenv
ragas
deepeval
pymupdf
sentence-transformers
tiktoken
langchain-experimental
langchain-chroma
